/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
*/
  display: list-item;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


/** FINE RESET **/

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/RzoNiRR1p2Mqyyz2RwqSMw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/yVHpdQrmTj9Kax1tmFSx2j8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}



body {
font: 13px/1.5 'Oxygen', Arial, 'Liberation Sans', FreeSans, sans-serif;
color: #7d7d7d;
background: #f5f5f5;
}

.container {
width: 1170px;
margin-right: auto;
margin-left: auto;
margin-right:auto;margin-left:auto;
margin-bottom:100px;
	box-shadow: 0 0 1px rgba(0,0,0,.35);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.35);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.35);
	-o-box-shadow: 0 0 1px rgba(0,0,0,.35);
	-ms-box-shadow: 0 0 1px rgba(0,0,0,.35);
	background: #fff;
	padding: 35px 0;
}

.container:before,.container:after{display:table;content:"";line-height:0;}
.container:after{clear:both;}



.inner {
  padding:35px 60px
}

p {
font-size: 18px;
line-height: 26px;
margin-top: 5px;
color: #9f9f9f;
margin-bottom:20px;
}

h3 {
font-size: 50px;
font-weight: 200;
line-height: 52px;
margin-top: 85px;
color: #222;
margin-bottom:20px;
}

h4 {
font-size: 30px;
font-weight: 200;
line-height: 32px;
margin-top: 35px;
color: #222;
margin-bottom:20px;
}

.column {
width: 550px;
float: left;
min-height: 1px;
margin-left: 30px;
}


.align-right {
float: right;
}

.row {
	margin-left: -30px;
}
img {
max-width: 100%;
width: auto	9;
height: auto;
vertical-align: middle;
border: 0;
-ms-interpolation-mode: bicubic;
}
a.tagline-btn, a.box-btn {
	background-color: #ce0100;
	-webkit-transition: background-color 500ms linear;
	-moz-transition: background-color 500ms linear;
	-o-transition: background-color 500ms linear;
	-ms-transition: background-color 500ms linear;
	transition: background-color 500ms linear
}

a.box-btn {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  padding:8px 30px;
  color:#fff!important;
  text-transform:uppercase;
  font-size:14px;
  font-weight:bold;
  line-height: 35px;
text-decoration:none;
}

a:hover.box-btn {
  background-color:#000!important;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  color:#aaa!important;
  text-decoration:none;
}